{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,700;1,600;1,800&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{%static 'style/addrecord.css'%}">
    <link rel="stylesheet" href="{%static 'style/index_style.css'%}">
    <link rel="stylesheet" href="{%static 'style/nav_style.css'%}">
    <link rel="stylesheet" href="{%static 'style/footer_style.css'%}">
    <link rel="stylesheet" href="{%static 'style/button_style.css'%}">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link id="theme-style" rel="stylesheet" href="" />
    <title>Easy Inventory | Remove Category</title>

     
</head>
<body>
    
    <header class="header">
      
      {% if user.is_authenticated %}
      <a href="{% url 'dashboard' %}" class="logo">Easy Inventory</span></a>
      {% else %}
      <a href="/" class="logo">Easy Inventory</span></a>
      {%endif%}
        <div class="menu-btn">
          <div class="menu-btn__lines"></div>
        </div>
        <ul class="menu-items">
          {% if user.is_authenticated %}
          <li><a href="/dashboard" class="menu-item">Dashboard</a></li>
          {% else %}
          <li><a href="/" class="menu-item">Home</a></li>
          {%endif%}
          <li><a href="{% url 'about' %}" class="menu-item">About</a></li>
          
          <li><a href="/contact" class="menu-item">Contact</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}" class="menu-item">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}" class="menu-item">Login</a></li>
          {%endif%}
          <li class="dots-nav-list">
            <div id="theme-options-wrapper">
              <div data-mode="light" class="theme-dots" id="light-mode"></div>
              <div data-mode="blue" class="theme-dots" id="blue-mode"></div>
            </div>
          </li>
        </ul>
     
      </header>
     
      <section class="add-category-wrapper">
        <div class="main-container">
          <h3 style="text-align: center" data-aos="zoom-in"  data-aos-once="true">REMOVE CATEGORY</h3>
          <form action="" method="POST" id="contact-form" data-aos="zoom-in"  data-aos-once="true">
            {% csrf_token %}
            <h3 style="margin-bottom: 15px;">Are you sure that you want to remove the {{category_name}} category?</h3>

            <p style="margin-bottom: 15px;">All the records associated to this category will also be deleted. Enter your password below and press confirm to proceed with the same.</p>

        

            <label>PASSWORD</label>
            <input class="input-field " type="password" name="password" />

    <div class="button-wrapper">
        <a href="{% url 'dashboard' %}">
            <input type="button" id="submit-btn" value="Cancel" onclick="history.back()">
        </a>&nbsp;
            <input type="submit" value="Confirm" id="submit-btn" />
            <div style="margin-top: 10px;">
              <center>{% for message in messages%}
                <p id="messages">{{message}}</p>
                {% endfor %}
            </center>
          </div>
       
    </div>
  
          </form>
        </div>
      </section>  

    <footer>
        <div class="hero-footer">
            <h3>Easy Inventory</h3>
            <p>Copyright &copy;2020</p>
        </div>
    </footer>
    <script>  
      let theme = localStorage.getItem("theme");
      if (theme == null) {
        setTheme("light");
      } else {
        setTheme(theme);
      }
      
      let themeDots = document.getElementsByClassName("theme-dots");
      
      for (var i = 0; themeDots.length > i; i++) {
        themeDots[i].addEventListener("click", function () {
          let mode = this.dataset.mode;
          console.log("Option clicked", mode);
          setTheme(mode);
        });
      }
      
      function setTheme(mode) {
        if (mode == "light") {
          document.getElementById("theme-style").href = "{%static 'style/index_style.css'%}";
        }
        if (mode == "blue") {
          document.getElementById("theme-style").href = "{%static 'style/blue_style.css'%}";
        }
        if (mode == "green") {
          document.getElementById("theme-style").href = "{%static 'style/green_style.css'%}";
        }
        if (mode == "purple") {
          document.getElementById("theme-style").href = "{%static 'style/purple_style.css'%}";
        }
        if (mode == "red") {
          document.getElementById("theme-style").href = "{%static 'style/red_style.css'%}";
        }
      
        localStorage.setItem("theme", mode);
      }
    </script>
      <script src="{%static 'script/NavScript.js'%}"></script>
      <script src="{%static 'script/ThemeScript.js'%}"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>

</body>
</html>